.spinnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  min-height: 200px;

  &.fullScreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 9999;
    min-height: 100vh;
  }
}

.spinner {
  display: inline-block;
  position: relative;

  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    border: 3px solid #007bff;
    border-radius: 50%;
    animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #007bff transparent transparent transparent;
  }

  div:nth-child(1) {
    animation-delay: -0.45s;
  }

  div:nth-child(2) {
    animation-delay: -0.3s;
  }

  div:nth-child(3) {
    animation-delay: -0.15s;
  }

  &.small {
    width: 30px;
    height: 30px;

    div {
      width: 30px;
      height: 30px;
      border-width: 2px;
    }
  }

  &.medium {
    width: 50px;
    height: 50px;

    div {
      width: 50px;
      height: 50px;
      border-width: 3px;
    }
  }

  &.large {
    width: 80px;
    height: 80px;

    div {
      width: 80px;
      height: 80px;
      border-width: 4px;
    }
  }
}

.loadingText {
  margin-top: 20px;
  font-size: 16px;
  color: #666;
  font-weight: 500;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
